#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
#wrapper > [role=main] {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.list-section {
  overflow: hidden;
}
.list-section .section-spacing {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-header {
  text-align: center;
  max-width: 730px;
  margin: 0 auto 25px;
  padding: 0 40px;
  margin-bottom: 40px;
}
.section-header .section-heading {
  font-size: 4rem;
  line-height: 48px;
}
.section-header .rte {
  margin-top: 12px;
}
.section-header .rte .section-sub-heading {
  font-size: 1.8rem;
  color: #333;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 20px;
}

.row {
  min-width: 1360px;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  padding: 0 25px;
}
.row .columns {
  padding: 0 15px;
}

.small-12 {
  flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
}

.medium-4 {
  flex: 0 0 33.333%;
  max-width: 33.3333%;
}

.large-2 {
  flex: 0 0 16.667%;
  max-width: 16.667%;
}

input[type=email] {
  border: 1px solid #dedede;
  padding: 18px 22px;
  height: 52px;
  font-weight: 400;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 1;
  cursor: auto;
}

.announce-bar-section {
  position: relative;
  z-index: 60;
}
.announce-bar-section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.announce {
  background-color: #103a3a;
  color: #f6f6f0;
  line-height: 1.6rem;
  font-size: 1.275rem;
  padding: 8px 0;
  z-index: 60;
}
.announce--inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 100%;
  max-width: none;
}
.announce--text {
  position: relative;
}

#header {
  border-bottom: 1px solid #eee;
  position: relative;
  background: #fff;
  z-index: 30;
}
#header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
#header .header-notsticky::after {
  opacity: 1;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: block;
  margin: 20px 0;
}
.header__logo .header__logo-img {
  width: 96px;
}
.header__menu {
  display: flex;
}
.header__menu .header__menu--list {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.header__menu .header__menu--list .header__menu-item {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 100%;
}
.header__menu .header__menu--list .header__menu-item .header__menu-link {
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #103a3a;
}
.header__menu .header__menu--list .header__menu-item .header__menu-link:hover {
  color: #c25b41;
}
.header__menu .header__menu--list > li.header__menu-children > .header__menu-link {
  position: relative;
  padding-right: 16px;
}
.header__menu .header__menu--list > li.header__menu-children > .header__menu-link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #103a3a transparent transparent transparent;
  margin-top: -2px;
}
.header__menu .header__menu--list > li.header__menu-children > .header__menu-link:hover::after {
  border-top-color: #c25b41;
}
.header__second-area {
  display: flex;
  align-items: center;
}
.header__second-area .header__second-link-icon {
  position: relative;
}
.header__second-area .header__item-count {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 20px;
  height: 20px;
  background: #c25b41;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2;
}
.header__second-area .header__second-link {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 14px;
}
.header__second-area .header__second-link .header__second-icon {
  font-size: 1.8rem;
  color: #103a3a;
}

.header__menu--list a {
  color: #103a3a;
  font-size: 1.3rem;
  font-weight: 400;
}
.header__menu--list a:hover {
  color: #c25b41;
}
.header__menu--list > li.header__menu-children:hover > .header__sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.header__menu--list > li.header__menu-children:hover::before {
  content: attr(data-item-title);
  position: absolute;
  height: 100%;
  top: 0;
  margin-left: -30px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0;
}
.header__menu--list > li.header__menu-children.header__menu-mega {
  position: static;
}
.header__menu--list > li.header__menu-children.header__menu-mega .header__sub-menu {
  left: 0;
  right: 0;
  padding: 50px 0;
  border-top: 1px solid #eee;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1019607843);
}
.header__menu--list .header__sub-menu {
  position: absolute;
  top: 100%;
  list-style: none;
  text-align: left;
  min-width: 190px;
  background: #fff;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1490196078);
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.header__menu--list .header__sub-menu li a {
  display: block;
}
.header__menu--list .header__mega-menu {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 20px;
  list-style: none;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1200px;
}
.header__menu--list .header__mega-menu > li > a {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #103a3a;
  text-decoration: none;
}
.header__menu--list .header__mega-menu > li > a:hover {
  color: #c25b41;
}
.header__menu--list .header__mega-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__menu--list .header__mega-menu ul li {
  padding: 6px 0;
}

input[type=search] {
  height: 52px;
  font-weight: 400;
  background: transparent;
  max-width: 100%;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header-section {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
}
.header-section.search-open .header__quick-search--form {
  visibility: visible;
  padding: 20px 40px;
  border-top: 1px solid #eee;
}
.header-section.search-open .header__quick-search--popular {
  visibility: visible;
  padding: 20px 40px;
  border-top: 1px solid #eee;
  white-space: nowrap;
  overflow: scroll;
}
.header-section.search-open .header__quick-search--popular scroll-shadow {
  width: calc(100% + 80px);
  margin: 0 -40px;
}
.header-section.search-open .header__quick-search--popular scroll-shadow div {
  padding: 0 40px;
}
.header-section.search-open .header__quick-search--popular .button {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.header-section.search-open .header__quick-search--popular .button.outline {
  margin-right: 5px;
  display: inline-flex;
  border: 1px solid #103a3a;
  color: #103a3a;
}
.header-section.search-open .header__quick-search--popular .button.outline:hover {
  background-color: #103a3a;
  color: #fff;
  transition: color 0.25s cubic-bezier(0.104, 0.204, 0.492, 1), background-color 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.header-section.search-open .header__quick-search--popular .button.small {
  height: 28px;
  padding: 5px 20px;
  font-weight: 500;
  text-transform: none;
  font-size: 1.4rem;
}
.header-section.search-open .header__quick-search--popular .button.pill {
  border-radius: 500px;
}
.header-section.search-open .header__quick-search {
  transform: translateY(0);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1019607843);
  visibility: visible;
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.header__quick-search--form {
  visibility: hidden;
}

.header__quick-search {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  z-index: 20;
  background: #fff;
  transform: translateY(-100px);
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.header__quick-search--popular {
  visibility: hidden;
}
.header__quick-search--label {
  display: block;
  font-size: 1.2675rem;
  line-height: 1.3;
  letter-spacing: 0.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 25px;
  color: #103a3a;
}
.header__quick-search .searchform fieldset input {
  font-size: 34px;
  padding: 0 40px 0 0;
  border: 0;
  outline: 0;
  color: #103a3a;
}

.searchform fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}
.searchform fieldset input {
  width: 100%;
  margin: 0;
}
.searchform fieldset .header__search-close {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: flex-end;
  width: 40px;
  cursor: pointer;
}

.slideshow {
  display: flex;
  margin: 0 auto;
  flex-flow: nowrap;
  position: relative;
  height: 650px;
}

.slideshow__inner {
  position: relative;
}
.slideshow__inner .slideshow__dot {
  position: absolute;
  left: 46%;
  border: 0;
  padding: 0;
  bottom: 20px;
}

.slide {
  position: relative;
  inset: 0;
  background-color: #103a3a;
  min-height: 650px;
  display: none;
}
.slide.active {
  display: block;
}
.slide::after {
  position: absolute;
  content: "";
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}

.slideshow__slide-inner {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}
.slideshow__slide-inner.content-bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
}

.slideshow__slide-content {
  z-index: 20;
  max-width: 700px;
  width: 100%;
  padding: 70px 70px 65px;
}
.slideshow__slide-content .sub-heading {
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1;
  margin-bottom: 20px;
  font-weight: 500;
  opacity: 0.5;
}
.slideshow__slide-content h1 {
  color: #fff;
  font-size: 6.4rem;
  line-height: 72px;
}
.slideshow__slide-content h1 .line-child {
  position: relative;
  text-align: left;
}
.slideshow__slide-content h1 .line-child > .line-child-child {
  display: inline-block;
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
}
.slideshow__slide-content .button.accent2 {
  position: relative;
  z-index: 22;
  display: inline-flex;
  cursor: pointer;
  padding: 4px 28px;
  align-items: center;
  justify-content: center;
  height: 52px;
  background-color: #c25b41;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  margin-top: 28px;
}
.slideshow__slide-content .button.accent2:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dot {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background-color: #fff;
  display: inline-block;
  z-index: 30;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.dot.active, .dot:hover {
  background-color: #c25b41;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.scrolling-text-inner {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
  font-size: 2.4rem;
  padding: 30px 0;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
}
.scrolling-text-inner > div {
  will-change: transform;
  animation: marquee-left 39s linear infinite;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.scrolling-text-inner .scrolling-text-item {
  padding: 20px 50px;
  color: #c25b41;
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.card-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.card-slider__link {
  display: flex;
  flex-direction: column;
  position: relative;
  transition-property: color;
}

.card-slider__img {
  position: relative;
  width: 394px;
  height: 394px;
  margin-bottom: 25px;
}
.card-slider__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-slider.style1 h2 {
  font-size: 1.8785rem;
  line-height: 1;
  font-weight: 400;
  padding-bottom: 5px;
  color: #103a3a;
}
.card-slider.style1 .card-slider__content p {
  margin-top: 5px;
}

.card-slider__content {
  width: 394px;
}
.card-slider__content h2 {
  margin-bottom: 0;
}
.card-slider__content p {
  font-size: 1.3rem;
  margin-bottom: 0;
  line-height: 1.7;
  color: #103a3a;
  font-weight: 500;
}

.list-btns {
  position: relative;
}
.list-btns .card-btns {
  position: absolute;
  top: 50%;
  display: flex;
  min-width: 1300px;
  justify-content: space-between;
  transform: translateY(-100%);
}
.list-btns .card-btns button {
  font-size: 3rem;
  color: #103a3a;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
.list-btns .card-btns button:hover {
  color: #c25b41;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.logo-list {
  max-width: 1080px;
  padding: 0 40px;
  margin: 0 auto;
}

.logo-list__inner {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 200px));
}

.logo-list__logo {
  text-align: center;
  pointer-events: all;
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.logo-list__logo img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.product-card__container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  gap: 30px;
  padding: 10px;
  max-width: 1360px;
}

img {
  width: 100%;
  display: block;
}

.product-card-left {
  width: 500px;
  overflow: hidden;
}
.product-card-left .product-img__main {
  display: flex;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.product-img__select {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
}
.product-img__select .product-img {
  margin: 0 5px;
  border: 1px solid #fff;
}
.product-img__select .product-img.active {
  border-color: #000;
}

.product-card-right .card-top {
  margin-top: 8px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.product-card-right h2 a {
  font-size: 3rem;
  color: #103a3a;
  font-weight: 500;
}
.product-card-right h2 a:hover {
  color: #c25b41;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.product-price h2 {
  line-height: 2;
  font-size: 2rem;
  cursor: text;
  padding: 10px 0;
}
.product-price p {
  opacity: 0.6;
  font-size: 1.2rem;
}
.product-price p a {
  text-decoration: underline;
  color: #103a3a;
}

.product-ratings {
  display: flex;
  margin: 15px 0;
  align-items: center;
}
.product-ratings .stars-group {
  padding-right: 20px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.3);
}
.product-ratings .reviews a span {
  color: #103a3a;
  font-size: 1.3rem;
  font-weight: 500;
}
.product-ratings .reviews a span:hover {
  color: #c25b41;
  transition: all 0.15s cubic-bezier(1, 0, 0, 1);
}

.stars-group i:nth-child(1),
.stars-group i:nth-child(2),
.stars-group i:nth-child(3) {
  color: gold;
}

.conditions {
  font-size: 1.4rem;
  line-height: 1.4;
}

.form {
  margin-top: 20px;
}

.form-group label {
  display: block;
  font-size: 1.4rem;
  padding-bottom: 10px;
}
.form-group select {
  display: block;
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border: 0;
  outline: 0;
}
.form-group .input-group {
  display: inline-flex;
  position: relative;
  border-radius: 3px;
  border: 1px solid #eee;
}
.form-group .input-group .minus {
  display: flex;
  border: 0;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 30px;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-weight: 500;
  font-size: 1.2rem;
  font-weight: 700;
  color: #888;
  cursor: pointer;
}
.form-group .input-group #qty {
  border: 0;
  width: 30px;
  outline: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}
.form-group .input-group .plus {
  display: flex;
  border: 0;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 30px;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  color: #888;
  cursor: pointer;
}

.add-cart {
  margin-left: 10px;
  padding: 17px 27px;
  width: 150px;
  text-transform: uppercase;
  color: #f6f6f0;
  background-color: #103a3a;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.add-cart:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
}

.testimonials {
  background-color: #103a3a;
  color: #fff;
}
.testimonials.section-spacing-padding {
  padding: 100px 0;
}
.testimonials-header {
  text-align: center;
  max-width: 730px;
  margin: 0 auto 25px;
  padding: 0 40px;
  margin-bottom: 40px;
}
.testimonials-header .testimonials-heading {
  font-size: 4rem;
  line-height: 48px;
  font-weight: 600;
}
.testimonials-header .testimonials-sub-heading {
  font-size: 1.7rem;
  line-height: 1.9;
  font-weight: 300;
  margin-bottom: 10px;
}
.testimonials-carousel {
  position: relative;
  height: 40vw;
  width: 100vw;
  max-width: 100%;
  max-height: 300px;
  perspective: 1000px;
  transform-origin: center;
}
.testimonials-viewport {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 10s infinite cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  display: flex;
  justify-content: center;
}
.testimonials-viewport.step-animation {
  animation: carousel 8s infinite step(1) forwards;
}
.testimonials-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-height: 300px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  transform-origin: center;
  display: flex;
}
.testimonials-slider:nth-child(1) {
  background-color: #103a3a;
  transform: rotateY(0) translateZ(35vw);
}
.testimonials-slider:nth-child(2) {
  background-color: #103a3a;
  transform: rotateY(120deg) translateZ(35vw);
}
.testimonials-slider:nth-child(3) {
  background-color: #103a3a;
  transform: rotateY(240deg) translateZ(35vw);
}
.testimonials-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials-testimonial .star-ratings {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
}
.testimonials-testimonial .star-ratings i:nth-child(1),
.testimonials-testimonial .star-ratings i:nth-child(2),
.testimonials-testimonial .star-ratings i:nth-child(3),
.testimonials-testimonial .star-ratings i:nth-child(4),
.testimonials-testimonial .star-ratings i:nth-child(5) {
  color: gold;
}
.testimonials-testimonial p {
  font-size: 3rem;
  line-height: 1.6;
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
  text-transform: uppercase;
}
.testimonials-testimonial .testimonials-author {
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 20px;
  text-transform: uppercase;
}

@keyframes carousel {
  0%, 17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }
  27.5%, 45% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }
  55%, 72.5% {
    transform: translateZ -35vw rotateY(-240deg);
  }
  82.5%, 100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}
.blog-collection-slider.section-spacing {
  margin: 100px 0;
}

.blog-grid {
  display: flex;
}

.blog-content {
  text-align: center;
  margin-bottom: 60px;
}
.blog-content.blog-content-shape-1 .featured-image {
  border-radius: 50% 50% 0 0;
}
.blog-content.blog-content-shape-2 .featured-image {
  border-radius: 50%;
}
.blog-content.blog-content-shape-3 .featured-image {
  border-radius: 0 50% 50% 0;
}
.blog-content .featured-image {
  margin-bottom: 35px;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 100%;
}
.blog-content .featured-image img {
  display: block;
  will-change: scale;
  transition: all 1s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.blog-content .featured-image:hover img {
  transform: scale(1.1);
}
.blog-content .featured-image:hover::after {
  opacity: 0.2;
}
.blog-content .featured-image > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease all;
}
.blog-content .featured-image > a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-content .post-meta {
  font-size: 1.3875rem;
  letter-spacing: 0.1;
  margin-bottom: 10px;
  opacity: 0.6;
  font-weight: 500;
}
.blog-content h5 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}
.blog-content h5 a {
  color: #103a3a;
}
.blog-content h5 a:hover {
  color: #c25b41;
  transition: all 0.25s cubic-bezier(1, 0, 0, 1);
}
.blog-content .read-more {
  display: inline-flex;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 14px 0;
  position: relative;
  color: #103a3a;
}
.blog-content .read-more::after {
  content: "";
  position: absolute;
  background: #103a3a;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  opacity: 0.3;
  border-radius: 50%;
}
.blog-content .read-more:hover {
  color: #c25b41;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.text-center {
  text-align: center;
}
.text-center .button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #103a3a;
  color: #fff;
  padding: 4px 26px;
  height: 52px;
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 4px;
  overflow: hidden;
}
.text-center .button::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  z-index: 5;
}
.text-center .button:hover::before {
  transform: translateY(0);
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.background-inner {
  position: relative;
  min-width: 1350px;
  height: 768px;
  border: 0;
  padding: 0;
}
.background-inner .myVideo {
  position: absolute;
  width: 100%;
  height: 100%;
}
.background-inner .myVideo .srcVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.background-inner .background-overlay {
  position: absolute;
  opacity: 0.4;
  background: black;
  width: 100%;
  height: 100%;
}

.background-content {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  top: 88%;
  z-index: 10;
  background-color: #c25b41;
}
.background-content .background-text {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 20px 0;
  flex: 1;
  letter-spacing: 0.1rem;
}
.background-content .button {
  border: 1px solid #fff;
  border-radius: 3px;
}
.background-content .button span {
  color: #fff;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 18px 28px;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}
.background-content .button span:hover {
  color: #c25b41;
  background-color: #fff;
  transition: all 0.25s ease-in;
}

#footer {
  padding: 70px 0;
  background: #f6f6f0;
  font-size: 1.2rem;
}
#footer .widget {
  max-height: 290px;
}
#footer .widget .widget-title {
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1rem;
}
#footer .widget .widget-description {
  padding-bottom: 20px;
  font-size: 1.5rem;
}
#footer .widget .widget-list {
  list-style: none;
}
#footer .widget .widget-item {
  margin-bottom: 5px;
}
#footer .widget .widget-item > .widget-link {
  font-size: 1.6rem;
  line-height: 2;
  color: #103a3a;
}
#footer .widget .widget-item > .widget-link span:hover {
  color: #c25b41;
  transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#footer .widget .widget-item > .widget-icon {
  font-size: 2.4rem;
}

.signup-container input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  width: 100%;
  padding: 20px 40px 20px 0;
  border-bottom: 1px solid #2b2b2b;
}
.signup-container label {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
  font-weight: 400;
  line-height: 1.6;
}
.signup-container fieldset {
  position: relative;
}
.signup-container button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  max-height: 52px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.sub-footer {
  padding-top: 20px;
}
.sub-footer p {
  font-size: 1.3rem;
  color: #777;
}
.sub-footer p a {
  color: #777;
  text-decoration: underline;
}
.sub-footer p a:hover {
  color: #c25b41;
}/*# sourceMappingURL=main.css.map */