#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
#wrapper > [role=main] {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.list-section {
  overflow: hidden;
}
.list-section .section-spacing {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-header {
  text-align: center;
  max-width: 730px;
  margin: 0 auto 25px;
  padding: 0 40px;
  margin-bottom: 40px;
}
.section-header .section-heading {
  font-size: 4rem;
  line-height: 48px;
}
.section-header .rte {
  margin-top: 12px;
}
.section-header .rte .section-sub-heading {
  font-size: 1.8rem;
  color: #333;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 20px;
}

.row {
  min-width: 1360px;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  padding: 0 25px;
}
.row .columns {
  padding: 0 15px;
}

.small-12 {
  flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
}

.announce-bar-section {
  position: relative;
  z-index: 60;
}
.announce-bar-section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.announce {
  background-color: #103a3a;
  color: #f6f6f0;
  line-height: 1.6rem;
  font-size: 1.275rem;
  padding: 8px 0;
  z-index: 60;
}
.announce--inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 100%;
  max-width: none;
}
.announce--text {
  position: relative;
}

#header {
  border-bottom: 1px solid #eee;
  position: relative;
  background: #fff;
  z-index: 30;
}
#header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
#header .header-notsticky::after {
  opacity: 1;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: block;
  margin: 20px 0;
}
.header__logo .header__logo-img {
  width: 96px;
}
.header__menu {
  display: flex;
}
.header__menu .header__menu--list {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.header__menu .header__menu--list .header__menu-item {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 100%;
}
.header__menu .header__menu--list .header__menu-item .header__menu-link {
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #103a3a;
}
.header__menu .header__menu--list .header__menu-item .header__menu-link:hover {
  color: #c25b41;
}
.header__menu .header__menu--list > li.header__menu-children > .header__menu-link {
  position: relative;
  padding-right: 16px;
}
.header__menu .header__menu--list > li.header__menu-children > .header__menu-link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #103a3a transparent transparent transparent;
  margin-top: -2px;
}
.header__menu .header__menu--list > li.header__menu-children > .header__menu-link:hover::after {
  border-top-color: #c25b41;
}
.header__second-area {
  display: flex;
  align-items: center;
}
.header__second-area .header__second-link-icon {
  position: relative;
}
.header__second-area .header__item-count {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 20px;
  height: 20px;
  background: #c25b41;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2;
}
.header__second-area .header__second-link {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 14px;
}
.header__second-area .header__second-link .header__second-icon {
  font-size: 1.8rem;
  color: #103a3a;
}

.header__menu--list a {
  color: #103a3a;
  font-size: 1.3rem;
  font-weight: 400;
}
.header__menu--list a:hover {
  color: #c25b41;
}
.header__menu--list > li.header__menu-children:hover > .header__sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.header__menu--list > li.header__menu-children:hover::before {
  content: attr(data-item-title);
  position: absolute;
  height: 100%;
  top: 0;
  margin-left: -30px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0;
}
.header__menu--list > li.header__menu-children.header__menu-mega {
  position: static;
}
.header__menu--list > li.header__menu-children.header__menu-mega .header__sub-menu {
  left: 0;
  right: 0;
  padding: 50px 0;
  border-top: 1px solid #eee;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1019607843);
}
.header__menu--list .header__sub-menu {
  position: absolute;
  top: 100%;
  list-style: none;
  text-align: left;
  min-width: 190px;
  background: #fff;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1490196078);
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.header__menu--list .header__sub-menu li a {
  display: block;
}
.header__menu--list .header__mega-menu {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 20px;
  list-style: none;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1200px;
}
.header__menu--list .header__mega-menu > li > a {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #103a3a;
  text-decoration: none;
}
.header__menu--list .header__mega-menu > li > a:hover {
  color: #c25b41;
}
.header__menu--list .header__mega-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__menu--list .header__mega-menu ul li {
  padding: 6px 0;
}

input[type=search] {
  height: 52px;
  font-weight: 400;
  background: transparent;
  max-width: 100%;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header-section {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
}
.header-section.search-open .header__quick-search {
  transform: translateY(0);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1019607843);
  visibility: visible;
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.header__quick-search--form {
  visibility: visible;
}

.header__quick-search {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  z-index: 20;
  background: #fff;
  transform: translateY(-100px);
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.header__quick-search--form {
  padding: 20px 40px;
  border-top: 1px solid #eee;
}
.header__quick-search--popular {
  padding: 20px 40px;
  border-top: 1px solid #eee;
  white-space: nowrap;
  overflow: scroll;
}
.header__quick-search--label {
  display: block;
  font-size: 1.2675rem;
  line-height: 1.3;
  letter-spacing: 0.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 25px;
  color: #103a3a;
}
.header__quick-search .searchform fieldset input {
  font-size: 34px;
  padding: 0 40px 0 0;
  border: 0;
  outline: 0;
  color: #103a3a;
}

.searchform fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}
.searchform fieldset input {
  width: 100%;
  margin: 0;
}
.searchform fieldset .header__search-close {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: flex-end;
  width: 40px;
  cursor: pointer;
}

.header__popular-history-tag > button {
  border: 1px solid #103a3a;
  border-radius: 500px;
  padding: 8px 10px;
  margin-right: 6px;
  background: #fff;
}
.header__popular-history-tag > button:hover {
  background-color: #c25b41;
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.header__popular-history-tag a {
  padding: 0 10px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #103a3a;
}

.slideshow {
  display: flex;
  margin: 0 auto;
  flex-flow: nowrap;
  position: relative;
  height: 650px;
}

.slideshow__inner {
  position: relative;
}
.slideshow__inner .slideshow__dot {
  position: absolute;
  left: 46%;
  border: 0;
  padding: 0;
  bottom: 20px;
}

.slide {
  position: relative;
  inset: 0;
  background-color: #103a3a;
  min-height: 650px;
  display: none;
}
.slide.active {
  display: block;
}
.slide::after {
  position: absolute;
  content: "";
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}

.slideshow__slide-inner {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}
.slideshow__slide-inner.content-bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
}

.slideshow__slide-content {
  z-index: 20;
  max-width: 700px;
  width: 100%;
  padding: 70px 70px 65px;
}
.slideshow__slide-content .sub-heading {
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1;
  margin-bottom: 20px;
  font-weight: 500;
  opacity: 0.5;
}
.slideshow__slide-content h1 {
  color: #fff;
  font-size: 6.4rem;
  line-height: 72px;
}
.slideshow__slide-content h1 .line-child {
  position: relative;
  text-align: left;
}
.slideshow__slide-content h1 .line-child > .line-child-child {
  display: inline-block;
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
}
.slideshow__slide-content .button.accent2 {
  position: relative;
  z-index: 22;
  display: inline-flex;
  cursor: pointer;
  padding: 4px 28px;
  align-items: center;
  justify-content: center;
  height: 52px;
  background-color: #c25b41;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  margin-top: 28px;
}
.slideshow__slide-content .button.accent2:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dot {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background-color: #fff;
  display: inline-block;
  z-index: 30;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.dot.active, .dot:hover {
  background-color: #c25b41;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.scrolling-text-inner {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
  font-size: 2.4rem;
  padding: 30px 0;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
}
.scrolling-text-inner > div {
  will-change: transform;
  animation: marquee-left 39s linear infinite;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.scrolling-text-inner .scrolling-text-item {
  padding: 20px 50px;
  color: #c25b41;
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.card-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.card-slider__link {
  display: flex;
  flex-direction: column;
  position: relative;
  transition-property: color;
}

.card-slider__img {
  position: relative;
  width: 394px;
  height: 394px;
  margin-bottom: 25px;
}
.card-slider__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-slider.style1 h2 {
  font-size: 1.8785rem;
  line-height: 1;
  font-weight: 400;
  padding-bottom: 5px;
  color: #103a3a;
}
.card-slider.style1 .card-slider__content p {
  margin-top: 5px;
}

.card-slider__content {
  width: 394px;
}
.card-slider__content h2 {
  margin-bottom: 0;
}
.card-slider__content p {
  font-size: 1.3rem;
  margin-bottom: 0;
  line-height: 1.7;
  color: #103a3a;
  font-weight: 500;
}

.list-btns {
  position: relative;
}
.list-btns .card-btns {
  position: absolute;
  top: 50%;
  display: flex;
  min-width: 1300px;
  justify-content: space-between;
  transform: translateY(-100%);
}
.list-btns .card-btns button {
  font-size: 3rem;
  color: #103a3a;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
.list-btns .card-btns button:hover {
  color: #c25b41;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.logo-list {
  max-width: 1080px;
  padding: 0 40px;
  margin: 0 auto;
}

.logo-list__inner {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 200px));
}

.logo-list__logo {
  text-align: center;
  pointer-events: all;
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.logo-list__logo img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.product-card__container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  gap: 30px;
  padding: 10px;
  max-width: 1360px;
}

img {
  width: 100%;
  display: block;
}

.product-card-left {
  width: 500px;
  overflow: hidden;
}
.product-card-left .product-img__main {
  display: flex;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.product-img__select {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
}
.product-img__select .product-img {
  margin: 0 5px;
  border: 1px solid #fff;
}
.product-img__select .product-img.active {
  border-color: #000;
}

.product-card-right .card-top {
  margin-top: 8px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.product-card-right h2 a {
  font-size: 3rem;
  color: #103a3a;
  font-weight: 500;
}
.product-card-right h2 a:hover {
  color: #c25b41;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.product-price h2 {
  line-height: 2;
  font-size: 2rem;
  cursor: text;
  padding: 10px 0;
}
.product-price p {
  opacity: 0.6;
  font-size: 1.2rem;
}
.product-price p a {
  text-decoration: underline;
  color: #103a3a;
}

.product-ratings {
  display: flex;
  margin: 15px 0;
  align-items: center;
}
.product-ratings .stars-group {
  padding-right: 20px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.3);
}
.product-ratings .reviews a span {
  color: #103a3a;
  font-size: 1.3rem;
  font-weight: 500;
}
.product-ratings .reviews a span:hover {
  color: #c25b41;
  transition: all 0.15s cubic-bezier(1, 0, 0, 1);
}

.stars-group i:nth-child(1),
.stars-group i:nth-child(2),
.stars-group i:nth-child(3) {
  color: gold;
}

.conditions {
  font-size: 1.4rem;
  line-height: 1.4;
}

.form {
  margin-top: 20px;
}

.form-group label {
  display: block;
  font-size: 1.4rem;
  padding-bottom: 10px;
}
.form-group select {
  display: block;
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border: 0;
  outline: 0;
}
.form-group .input-group {
  display: inline-flex;
  position: relative;
  border-radius: 3px;
  border: 1px solid #eee;
}
.form-group .input-group .minus {
  display: flex;
  border: 0;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 30px;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-weight: 500;
  font-size: 1.2rem;
  font-weight: 700;
  color: #888;
  cursor: pointer;
}
.form-group .input-group #qty {
  border: 0;
  width: 30px;
  outline: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}
.form-group .input-group .plus {
  display: flex;
  border: 0;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 30px;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  color: #888;
  cursor: pointer;
}

.add-cart {
  margin-left: 10px;
  padding: 17px 27px;
  width: 150px;
  text-transform: uppercase;
  color: #f6f6f0;
  background-color: #103a3a;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.add-cart:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
}/*# sourceMappingURL=main.css.map */